{
  "parser": "@typescript-eslint/parser", // Use the appropriate parser for your project
  "plugins": ["react", "react-hooks", "import", "node"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:node/recommended-module",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/prop-types": "off",
    "react/no-unknown-property": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-unused-vars": [
      "warn",
      { "vars": "all", "args": "after-used", "argsIgnorePattern": "^_" }
    ]
  },

  "settings": {
    "react": {
      "version": "detect" // Detect the React version automatically
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  }
}
