* {
  --amplify-components-tabs-item-active-border-color: #4c97f3;
  --amplify-components-tabs-item-active-color: #4c97f3;
  --amplify-components-fieldcontrol-focus-border-color: white;
  --amplify-components-authenticator-router-box-shadow: none;
}

ul {
  list-style: none;
  padding: 0;
}

#root > div.auth-wrapper > div {
  box-sizing: unset;
  --amplify-border-widths-large: 0px;
}

button.amplify-button[type="submit"] {
  background-color: #4c97f3;
  width: 33%;
  align-self: center;
}

#root > div.auth-wrapper > div > div {
  width: 100vw;
}

div.amplify-flex.amplify-field-group.amplify-field-group--horizontal {
  margin: 0 10% 0 10%;
}

input.amplify-input {
  text-align: left;
  padding-left: 0;
  border: unset;
  background-color: #fafafa;
  color: #9e9e9e;
  border-bottom: 1px #bdbdbd solid;
  border-radius: 0;
}

input.amplify-input:focus {
  border: unset;
}

button.amplify-button[aria-label="Show password"] {
  border: unset;
  background-color: #fafafa;
  border-bottom: 1px #bdbdbd solid;
  border-radius: 0;
}

.hint-text {
  color: #9e9e9e;
  text-align: left;
  margin-top: 0;
}

.caseswift-logo {
  margin-top: 15%;
}

div[role="tablist"] {
  width: 100%;
}

div[role="tablist"] > div.amplify-flex {
  width: 50%;
  margin: 0 auto;
  border: 1px #dcdee0 solid;
}

div[data-amplify-container] > div[data-amplify-router]:first-child {
  border: 0;
}
